---
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
  description: string
  url: string
  image: string
}

const { title, description, url, image } = Astro.props

let subtitle = 'Software Craft and Testing unconference'
---

<!-- general meta -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image} />

<!-- twitter card -->

<!-- page title -->
<title>{title} - {subtitle}</title>

<ViewTransitions />
